apiVersion: apps/v1
kind: Deployment
metadata:
  name: infra-grafana
  namespace: model-dev
  labels:
    app: grafana
    tier: infra
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
        tier: infra
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                - ucsd
      containers:
      - name: grafana
        image: grafana/grafana:10.2.0
        ports:
        - containerPort: 3000
        env:
        - name: GF_SECURITY_ADMIN_USER
          value: "admin"
        - name: GF_SECURITY_ADMIN_PASSWORD
          value: "admin123"
        - name: GF_AUTH_ANONYMOUS_ENABLED
          value: "true"
        - name: GF_AUTH_ANONYMOUS_ORG_ROLE
          value: "Admin"
        - name: GF_AUTH_ANONYMOUS_ORG_NAME
          value: "Main Org."
        - name: GF_AUTH_DISABLE_LOGIN_FORM
          value: "true"
        - name: GF_SERVER_ROOT_URL
          value: "https://monitor-model-dev.nrp-nautilus.io"
        - name: GF_USERS_ALLOW_SIGN_UP
          value: "false"
        - name: GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH
          value: "/var/lib/grafana/dashboards/pods-dashboard.json"
        volumeMounts:
        - name: datasources
          mountPath: /etc/grafana/provisioning/datasources
        - name: dashboards-provider
          mountPath: /etc/grafana/provisioning/dashboards
        - name: dashboards
          mountPath: /var/lib/grafana/dashboards
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
      volumes:
      - name: datasources
        configMap:
          name: infra-grafana-datasources
      - name: dashboards-provider
        configMap:
          name: infra-grafana-dashboards-provider
      - name: dashboards
        configMap:
          name: infra-grafana-dashboard-pods
---
apiVersion: v1
kind: Service
metadata:
  name: infra-grafana-service
  namespace: model-dev
  labels:
    app: grafana
    tier: infra
spec:
  selector:
    app: grafana
  ports:
  - port: 3000
    targetPort: 3000

